##### Statistics

- branch of mathematics 
- deals with collecting, analyzing, interpreting, presenting, and organizing data. 
- have methods for summarizing data, drawing conclusions, and making predictions or decisions based on data.

##### Types


1. Descriptive Statistics: This involves summarizing and presenting data in a meaningful way. It includes measures like averages, percentages, and graphs that help to describe the basic features of the data.

2. Inferential Statistics: This focuses on making inferences and predictions about a population based on a sample of data. It involves using probability theory to test hypotheses and estimate population parameters.

In [1]:
import pandas as pd

In [12]:
dataset = pd.read_excel("Descriptive Statistics.xlsx", sheet_name=0)
dataset.head()

,ID,Gender,Birth Date,Education,Job Category,Current Salary,After 6 Months,Sal Begin,Job Time,Prev Exep,Minority,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0,NaN,Job Category,NaN
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0,NaN,1,Clerical
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0,NaN,2,Custodial
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0,NaN,3,Manager
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0,NaN,NaN,NaN

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              474 non-null    int64
 1   Gender          474 non-null    object
 2   Birth Date      473 non-null    object
 3   Education       474 non-null    int64
 4   Job Category    474 non-null    int64
 5   Current Salary  474 non-null    int64
 6   After 6 Months  474 non-null    float64
 7   Sal Begin       474 non-null    int64
 8   Job Time        474 non-null    int64
 9   Prev Exep       474 non-null    int64
 10  Minority        474 non-null    int64
 11  Unnamed: 11     0 non-null      float64
 12  Unnamed: 12     5 non-null      object
 13  Unnamed: 13     3 non-null      object
dtypes: float64(2), int64(8), object(4)
memory usage: 52.0+ KB

In [16]:
dataset['Current Salary'].mean()

34419.56751054852

In [18]:
dataset['Current Salary'].median()

28875.0

In [20]:
dataset['Current Salary'].mode()

0    30750
Name: Current Salary, dtype: int64

In [23]:
dataset['Gender'].mode()

0    m
Name: Gender, dtype: object

In [25]:
dataset['Gender'].describe()

count     474
unique      2
top         m
freq      258
Name: Gender, dtype: object

In [26]:
dataset['Current Salary'].describe()

count       474.000000
mean      34419.567511
std       17075.661465
min       15750.000000
25%       24000.000000
50%       28875.000000
75%       36937.500000
max      135000.000000
Name: Current Salary, dtype: float64